@tailwind base;
@tailwind components;
@tailwind utilities;


footer#main-footer {
  color: #005675;
  font-size: 16px;
  padding: 1rem 0;
  background-color: #f8f9fa;
}

.marquee-container {
  overflow: hidden;
  width: 100%;
}

.marquee-content {
  display: inline-block;
  white-space: nowrap;
  padding-left: 100%;
  animation: marquee 60s linear infinite;
}

.marquee-container:hover .marquee-content {
  animation-play-state: paused;
}

.quotes span {
  padding-right: 80px;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

